{% extends "project/base.html" %}
{% load static %}

{% block title %}Guess Profile{% endblock %}

{% block content %}

<div class="row mt-2">
    <div class="col-lg-6 offset-lg-3">
        <form method="post" enctype="multipart/form-data" action="{% url 'project:profile' %}">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <div style="width: 100%;">
                    <div class="text-center">
                        <h3>Profile</h3>
                    </div>
                    <div class="d-flex justify-content-start align-items-start">
                        <div class="col-5 mt-1">
                            <div class="form-group">
                                {% if user.image %}
                                    <img src="{{user.image.url}}" id="frame" style="max-width: 100%;" class="img-thumbnail" onerror="this.onerror=null; this.src='{% static 'project/avatar.jpg' %}'">
                                {% else %}
                                    <img src="{% static 'project/avatar.jpg' %}" id="frame" class="img-thumbnail">
                                {% endif %}
                            </div>
                            <div class="input-group input-group-sm mt-1 mb-2">
                                {{form.image}}
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"></button>
                                <div class="dropdown-menu dropdown-menu-end p-0" style="min-width: 5rem">
                                    <a class="dropdown-item list-group-item-action list-group-item-danger" href="{% url 'project:delete_image' %}">Delete</a>
                                </div>
                            </div>
                            {% if form.errors.image %}
                                {% for err in form.errors.image %}
                                    <p class="alert alert-warning py-2" role="alert" style="font-size: 16px">{{err}}</p>
                                {% endfor%}
                            {% endif %}
                        </div>
                        <div class="col-7 mt-1" style="margin-left: 10px; max-width: 50%;">
                            <div class="input-group mt-1 mb-2 input-group-sm">
                                <span class="input-group-text">Login</span>
                                {{ form.login }}
                            </div>
                            {% if form.errors.login %}
                                {% for err in form.errors.login %}
                                    <p class="alert alert-warning py-2" role="alert" style="font-size: 16px">{{err}}</p>
                                {% endfor%}
                            {% endif %}
                            <div class="input-group mt-1 mb-2 input-group-sm">
                                <span class="input-group-text">Email</span>
                                {{ form.email }}
                            </div>
                            {% if form.errors.email %}
                                {% for err in form.errors.email %}
                                    <p class="alert alert-warning py-2" role="alert" style="font-size: 16px">{{err}}</p>
                                {% endfor%}
                            {% endif %}
                            <div class="input-group mt-1 mb-2 input-group-sm">
                                <span class="input-group-text">Password</span>
                                <input type="password" class="form-control" readonly value="000000000000000000000">
                                <a href="{% url 'project:password_change' %}" class="btn btn-outline-secondary">Change</a>
                            </div>
                            <div class="input-group mt-1 mb-2 input-group-sm">
                                <span class="input-group-text">Language</span>
                                {{ form.lang }}
                            </div>
                            {% if form.errors.language %}
                                {% for err in form.errors.language %}
                                    <p class="alert alert-warning py-2" role="alert" style="font-size: 16px">{{err}}</p>
                                {% endfor%}
                            {% endif %}
                            <div class="d-flex justify-content-center">
                                <div class="form-check mt-1 mb-2">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="{{ form.is_always_show_correct_answer.id_for_label }}"
                                        name="{{ form.is_always_show_correct_answer.html_name }}"
                                        {% if form.is_always_show_correct_answer.value %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="{{ form.is_always_show_correct_answer.id_for_label }}">
                                        <small>Always show correct answer</small>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <input type="submit" style="width: 110px;" class="btn btn-warning rounded-pill" value="Save">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('upload').value = null;
        frame.src = "";
    }
</script>

{% endblock %}
