{% extends 'project/base.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container pt-5 mt-3 col-lg-5 col-lg-offset-4" style="margin: 0 auto; float: none; text-align: center">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p style="text-align: left">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>

{% endblock %}