{% extends 'project/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center align-self-center mt-2">
    <div class="d-flex mt-3 mb-3">
        <h2>Please, verify your Email</h2>
    </div>
    <p>We send verification link on your email. Please, check it to confirm your account</p>
    <p><small>
        Don't get an email? Use <b><a class="link-dark" href="{% url 'request-new-link-from-email' %}">this link</a></b> to resend request
    </small></p>
    </div>
{% endblock %}