{% extends 'project/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Guess Chan{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center align-self-center mt-2">
        {% if attempt.words_lengths %}
            <script>const words_lengths = {{ attempt.words_lengths|safe }};</script>
        {% endif %}
        <script src="{% static 'game/js/custom.js' %}"></script>
        {% if answer_result.attempt_id %}
            {% if answer_result.is_correct %}
                <h2 class="text-primary">Correct!</h2>
                <a href="{{ attempt.image_url }}"><img src="{{ attempt.image_url }}" height="400px"/></a>
                <h2 class="text-primary text-center mt-2">{{ answer_result.correct_answer }}</h2>
                <div class="align-items-center text-center">
                    <a
                        id="nextButton"
                        href="{% url 'game:home' %}"
                        class="btn btn-primary mt-2 mb-3 rounded-pill"
                        style="width: 110px;"
                    >
                        Next
                    </a>
                </div>
            {% else %}
                <h2 class="text-danger">Incorrect :(</h2>
                {% if answer_result.correct_answer %}
                    <a href="{{ answer_result.character_image_url }}"><img src="{{ answer_result.character_image_url }}" height="400px"/></a>
                    <h2 class="text-danger text-center mt-2">{{ answer_result.correct_answer }}</h2>
                {% else %}
                    <form method="post" action="{% url 'game:show_correct' %}" >
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column align-items-center mt-3 mb-3">
                            <input type="hidden" name="attempt_id" class="form-control" value="{{ attempt.id }}">
                            <input type="hidden" name="need_to_show_correct" class="form-control" value=True>
                            <input type="hidden" name="source_view" class="form-control" value="home">
                            <input type="submit" class="btn btn-danger rounded-pill" style="width: 220px;" value="Show correct answer">
                        </div>
                    </form>
                    <p> (chan will never be shown again)</p>
                {% endif %}
                <div class="align-items-center text-center">
                    <a
                        id="nextButton"
                        href="{% url 'game:home' %}"
                        class="btn btn-primary mt-2 mb-3 rounded-pill"
                        style="width: 110px;"
                    >
                        Next
                    </a>
                </div>
            {% endif %}
        {% else %}
            <h2>Guess Chan</h2>
            {% if attempt.image_url %}
                <a href="{{ attempt.image_url }}" style="user-select: none;"><img src="{{ attempt.image_url }}" height="400px"/></a>
                <form id="guess-form" method="post" action="{% url 'game:home' %}">
                    {% csrf_token %}
                    <input type="hidden" name="answer" class="form-control text-center" value="{{ answer_result.given_answer }}">
                    <input type="hidden" name="attempt_id" class="form-control" value="{{ attempt.id }}">
                    <div id="empty-cells" class="form-group mt-3 d-flex justify-content-center">
                      {% for word_length in attempt.words_lengths %}
                        {% for _ in word_length|range_int %}
                          <div class="empty-cell mx-1" ondragover="allowDrop(event)" ondrop="handleDrop(event)" onclick="returnLetterFromEmptyCell(this)"></div>
                        {% endfor %}
                        {% if not forloop.last %}
                          <div class="mx-3" style="user-select: none;"></div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div id="letters" class="form-group text-center mt-3 d-flex justify-content-center">
                      {% for letter in attempt.letters %}
                        <div class="letter letter-cell" draggable="true" id="{{ letter }}-{{ forloop.counter }}">{{ letter }}</div>
                      {% endfor %}
                    </div>
                    <div class="form-group d-flex justify-content-center mt-3 mb-3">
                        <button
                            id="guessButton"
                            type="submit"
                            class="btn btn-danger rounded-pill"
                            style="width: 220px;"
                            disabled="true"
                        >Guess!</button>
                    </div>
                </form>
            {% else %}
                {% if attempt.message %}
                    <p>{{ attempt.message }}</p>
                {% else %}
                    <p>Image not found</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
