{% extends 'project/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center align-self-center mt-2">
        <div class="d-flex mt-1 mb-1">
            {% if answer_result %}
                {% if answer_result.correct %}
                    <h2 class="text-primary">Correct!</h2>
                {% else %}
                    <h2 class="text-danger">Incorrect :(</h2>
                {% endif %}
            {% else %}
                <h2>Guess Chan</h2>
            {% endif %}
        </div>
        {% if image.url %}
            <a href="{{ image.url }}"><img src="{{ image.url }}" height="400px"/></a>
            <form method="post" action="{% url 'game:home' %}" >
                {% csrf_token %}
                {% if answer_result %}
                    <div class="form-group mt-3">
                    {% if answer_result.correct %}
                    {% else %}
                        <h2 class="text-danger">{{ answer_result.correct_answer }}</h2>
                    {% endif %}
                        <a href="{% url 'game:home' %}">
                            <input class="btn btn-primary mt-2 mb-3 rounded-pill" style="width: 110px;" value="Next">
                        </a>
                    </div>
                {% else %}
                    <div class="form-group mt-3">
                        <input type="text" name="answer" class="form-control text-center">
                        <input type="hidden" name="image_id" class="form-control" value="{{ image.id }}">
                    </div>
                    <div class="form-group d-flex flex-column align-items-center mt-3 mb-3">
                        <input type="submit" class="btn btn-danger rounded-pill" style="width: 110px;" value="Guess!">
                    </div>
                {% endif %}
            </form>
        {% else %}
            <p>Записи отсутствуют!</p>
        {% endif %}
    </div>
{% endblock %}