{% extends 'project/base.html' %}
{% load static %}

{% block title %}Logs Chan{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center align-self-center mt-2">
        <h2>Chan Logs</h2>
        <div style="width: 60%; display: flex; justify-content: center;">
            <table class="table align-middle text-center">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Answer</th>
                        <th>Correct</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attempt in attempts %}
                        <tr>
                            <td><a href="{{ attempt.image_url }}" style="user-select: none;">
                                <div style="
                                    width: 50px;
                                    height: 50px;
                                    overflow: hidden;"
                                >
                                    <img src="{{ attempt.image_url }}" style="
                                        display: block;
                                        max-width: none;
                                        max-height: none;
                                        width: auto;
                                        height: 50px;
                                        margin: 0 auto;
                                        position: relative;
                                        top: 50%;
                                        transform: translateY(-50%);"
                                    />
                                </div>
                            </a></td>
                            <td>{{ attempt.answer }}</td>
                            <td>
                                {% if attempt.correct == '' %}
                                    <form method="post" action="{% url 'game:show_correct' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="attempt_id" value="{{ attempt.id }}">
                                        <input type="hidden" name="source_view" class="form-control" value="logs">
                                        <button
                                            type="submit"
                                            class="btn btn-danger rounded-pill btn-sm"
                                            title="chan will never be shown again"
                                        >
                                            show correct
                                        </button>
                                    </form>
                                {% else %}
                                    {{ attempt.correct }}
                                {% endif %}
                            </td>
                            <td><i>{{ attempt.status }}</i></td>
                            <td>{{ attempt.date|date:"Y-m-d H:i" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
